<header>
    <h1>Alfred Thompson's Website</h1>
    {{#if isLoggedIn}}
        <form action="/users/logout" method="post">
            <input type="submit" class="blueButton" value="Log out of {{user.username}}">
        </form>
    {{/if}}
</header>