<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="/postvideo">Post Videos</a></li>
        <li><a href="/viewpost/0">View Posts</a></li>
    </ul>
</nav>