{{log this}}
<main>
    <p id="photo-count"></p>
    <div id="photos">
        {{#each results}}
            <div class="photo-card">
                <a href="/posts/{{id}}">
                    <p>{{title}}</p>
                    <img src="/{{thumbnail}}" alt="">
                </a>
            </div>
        {{/each}}
{{!--        <div class="photo-card">--}}
{{!--            <p></p>--}}
{{!--            <img src="">--}}
{{!--        </div>--}}
    </div>
</main>