<main>
    <p id="photo-count"></p>
    <div id="photos">
        <!--            <div class="photo-card">-->
        <!--                <p></p>-->
        <!--                <img src="">-->
        <!--            </div>-->
    </div>
</main>