<main>
    <header>
        <h2>Post a Video</h2>
    </header>
    <div id="flashMsg">
        {{> flashmsg this}}
    </div>
    <form action="/posts/create" method="post" enctype="multipart/form-data">
        <div class="text-input" id="PVTextInput">
            <label for="title">Video Title:</label>
            <input type="text" id="title" name="title"  required>
            <label for="desc">Video Description:</label>
            <textarea id="desc" name="description" rows="10" cols="40"></textarea>
        </div>
        <div class="file-input">
            <label for="upload" class="blueButton" id="uploadLabel">Select Video File</label>
            <input type="file" id="upload" name="uploadVideo" accept="video/*" required hidden>
        </div>
        <div class="checkbox-input">
            <div>
                <input type="checkbox" id="TOS" required>
                <label for="TOS" >I have read and accepted the <a href="/policy">Acceptable Use Policy</a></label>
            </div>
        </div>
        <div class="submit-form">
            <input type="submit" class="green-button" value="Post Video">
        </div>
    </form>
</main>
<script>
document.getElementById("upload").addEventListener( 'change', function(event) {
    document.getElementById("uploadLabel").innerHTML = event.currentTarget.files[0].name;

    console.log(event.currentTarget.files[0].name);
    // event.currentTarget.innerHTML = "3";

});
</script>