<main>
    <header>
        <h2>Register Account</h2>
    </header>
    <div class="input-strength-container">
        <form id="registration-form" action="/users/registration" method="post" enctype="application/x-www-form-urlencoded">
            <div class="text-input">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                </div>
            </div>
            <div class="checkbox-input">
                <div>
                    <input type="checkbox" id="13plus" name="ageCheck" required>
                    <label for="13plus">I am 13+ years of age</label>
                </div>
                <div>
                    <input type="checkbox" id="TOS" name="tosCheck" required>
                    <label for="TOS">I have read and accepted the <a href="tos.html">Terms of Service and Privacy
                        Rules</a></label>
                </div>
            </div>
            <div>
                <input id="registration-submit" type="submit" class="green-button" value="Register" {{!--disabled--}}>
            </div>
        </form>
        <div id="registration-input-strength" class="input-strength input-strength-hidden">
            <p id="name-begins" class="requirement-unmet">Username must begin with a letter</p>
            <p id="name-alphanum" class="requirement-unmet">Username requires 3+ alphanumeric characters</p>
            <p id="pass-length" class="requirement-unmet">Password must be 8+ characters</p>
            <p id="pass-uppercase" class="requirement-unmet">Password requires at least one capital letter</p>
            <p id="pass-number" class="requirement-unmet">Password requires at least one digit</p>
            <p id="pass-special" class="requirement-unmet">Password requires at least one of /*-+!@#$^&~[]</p>
            <p id="pass-confirm" class="requirement-unmet">Password must be the same as confirm password</p>
            <div>
                <p>Password Strength:</p>
                <p id="strength-description">Pathetic</p>
            </div>
            <span><span id="progress"></span></span>
        </div>
    </div>
</main>