:root {
    --nice-grey:#f1f1f1;
    --another-grey:#959595;
    --minty-green:#57f092;
    --darker-green:#20ad52;
    --minty-blue:#83aeff;
    --darker-blue:#4764ce;
    --salmon:salmon;
    --lighter-salmon: #ffb0a6;
}
body {
    position: relative;
    margin:0em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    padding-bottom: 3em;
}
h1 {
    text-align: center;
    margin: unset;
}
h2 {
    margin-top: 50px;
}
nav li a, .green-button, .blueButton { /*normal text*/
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding-inline-start: unset;
}
nav {
    /*background: var(--salmon);*/
    padding: 0.5em;
}
nav ul {
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap:0.4em;
    grid-template-columns: 100%;
    margin:unset;
}
@media only screen and (min-width: 800px) {
    nav ul {
        display: grid;
        grid-auto-flow: column;
        margin:unset;
        grid-template-columns: unset;
    }
}
nav li {
    justify-content: center;
    align-items: center;
}
nav li a {
    margin:auto;
    display: block;
    width: 85%;
    padding: 0.4em;
    background: white;
    border: 2px solid lightgray;
    color:black;
    text-align: center;
    border-radius: 1em;
    transition-duration: 0.4s;
}
@media only screen and (max-width: 800px) {
    nav li a {
        background: var(--salmon);
        border: 2px solid var(--salmon);
        color:white;
    }
}
nav li a:hover {
    background: var(--salmon);
    border: 2px solid var(--salmon);
    color:white;
    transition-duration: 0.2s;
}

footer {
    position: absolute;
    bottom: 0;
    left:1em;
    height: 2em;
}
/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding-bottom: 3em;*/
/*}*/
/*.submit-form {*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    !*width: max-content;*!*/
/*}*/
.requirement-unmet {
    font-style: italic;
    margin:unset;
    color: var(--another-grey);
}
.requirement-met {
    color: var(--darker-green);
}
.text-input {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1em;
}
    .checkbox-input {
        align-items: start;
        margin-inline: 20px;
        flex-direction: column;
    }
    .checkbox-input div {
        display: flex;
        align-items: start;
    }
    .file-input {
        margin:20px;
    }
    .input-strength span {
        margin-bottom: 1em;
        background: var(--nice-grey);
        box-sizing: border-box;
        display: block;
        background-clip: content-box;
        height: 1em;
        width:100%;
    }
    .input-strength div {
        display:flex;
    }
    #strength-description {
        padding-left:6px;
        font-weight: bold;
    }
    #progress {
        box-sizing: border-box;
        display: block;
        background-clip: content-box;
        height: 100%;
        transition-duration: 0.5s;
    }
    .input-strength-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .input-strength {
        border-bottom: solid 2px var(--another-grey);
        max-height: 300px;
        padding-bottom: 1em;
        white-space: nowrap;
        overflow: hidden;
        transition-duration: 0.5s;
    }
    .input-strength-hidden {
        max-height: 0;
        padding: 0;
        border: white;
        transition-duration: 0.5s;
    }
    @media only screen and (min-width: 800px) {
        .input-strength-container {
            flex-direction: row;
        }
        .input-strength {
            border-bottom: unset;
            border-left: solid 2px var(--another-grey);
            max-height: unset;
            max-width: 400px;
            padding-left: 1em;
            padding-bottom: unset;
            white-space: nowrap;
            overflow: hidden;
            transition-duration: 0.5s;
        }
        .input-strength-hidden {
            max-height: unset;
            max-width: 0;
            padding: 0;
            border: white;
            transition-duration: 0.5s;
        }
    }
label {
    font-style: italic;
}
input {
    background: var(--nice-grey);
    border: 1px solid var(--another-grey);
    margin: 2px;
    padding: 0.5em;
    border-radius: 2em 2em;
}
    input:focus {
        background: unset;
        border: unset;
        outline: 3px solid lightsalmon;
        transition-duration: 0.2s;
    }
    .green-button, .blueButton {
        align-items: center;
        outline: revert;
        border: none;
        border-radius: 2em 0 2em 0;
        margin-top:30px;
        transition-duration: 0.4s;
    }
    .green-button {
        background: var(--minty-green);
        padding: 0.3em 3em;
    }
    .green-button:hover {
        background: var(--darker-green);
        transition-duration: 0.2s;
        cursor: pointer;
    }
    .green-button:disabled {
        background: var(--another-grey);
        cursor: unset;
    }
    .blueButton {
        background: var(--minty-blue);
        border-radius: 0.3em;
        padding: 0.3em 0.4em;
        margin-top: 50px;
    }
    .blueButton:hover {
        background: var(--darker-blue);
        transition-duration: 0.2s;
        cursor: pointer;
    }
    input[type="file"] {
        /*display: none;*/
    }
#videoElements {
    display:flex;
    flex-direction: column;
    margin-top: 2em;
}
    #videoPlayer {
        width: 100%;
        height: auto;
    }
        #videoTitle, #videoAuthor, #videoDate {
        margin:unset;
        margin-left: 0.5em;
    }
#commentElements {
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
}
    #commentElements>ul {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .comment {
        width: 90%;
        /*border-radius: 1em;*/
    }
    .comment:not(#commentsList >*) {
        width: calc(100% - 1em);
        box-sizing: border-box;
        margin-left:1em;
        border-left: lightgray solid;
        padding: 1em 0em 1em 1em;
        margin-bottom: 0.3em;
    }
    .commentContent {
        margin-bottom: 0.3em;
        padding: 0.4em;
        border-radius: 1em;
        transition-duration: 0.4s;
    }
    .commentContent>.replyContent {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .commentContent:hover {
        background: var(--nice-grey);
        transition-duration: 0.4s;
    }
    .comment>div>strong {
        color:var(--salmon);
        font-style: italic;
    }
    .comment>div>span {
        font-style: italic;
    }
    .comment>div>div {
        margin-top:0.4em;
    }
    .replyContent-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .replyContent {
        /*border-bottom: solid 2px var(--another-grey);*/
        max-height: 90px;
        padding-bottom: 1em;
        white-space: nowrap;
        overflow: hidden;
        transition-duration: 0.3s;
    }
    .replyContent-hidden {
        max-height: 0;
        padding: 0;
        /*border: white;*/
        /*transition-duration: 1s;*/
        /*animation-timing-function:linear;*/
    }
#videoTitle, #commentsTitle {
    margin: 0.3em;
}
#photos {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
    .photo-card {
        /*display:flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*box-sizing: border-box;*/
        /*min-width: 200px;*/
        max-width: 50%;
        height: max-content;
        border-radius: 26px 0 26px 0;
        background: var(--nice-grey);
        background-clip: content-box;
        cursor: pointer;
        overflow: hidden;
        transition-duration: 0.5s;
    }
    .photo-card-hidden {
        max-height: unset;
        max-width: 0;
        opacity: 0;
        padding: 0;
        border: white;
        transition-duration: 0.5s;
    }
    .photo-card p {
        box-sizing: border-box;
        max-width: 150px;
        padding: 0.8em;
        margin: unset;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
    }
    .photo-card img {
        border-radius: 0em 0 25px 0;
        box-sizing: border-box;
        display: block;
        /*width: 100%;*/
        padding: 1em;
        max-width: 100%;
    }
    #photo-count {
        margin:unset;
        font-size: 10em;
        font-style: italic;
        font-weight: bold;

    }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}